DATABASE_URL="postgresql://<username>:<password>@<host>/<database>?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://<username>:<password>@<host>/<database>?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="<your-nextauth-secret>"
PGTZ=UTC

# SMTP Mail Ayarları (Kurumsal E-posta)
SMTP_HOST="<smtp-host>"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER="<smtp-user>"
SMTP_PASS="<smtp-pass>"
SMTP_FROM="SoleCost <admin@example.com>"
